<footer class="footer bg-dark py-3 mt-auto">
    <div class="container-fluid text-light text-center">
   <a href="https://github.com/shaah1d" class="text-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"">@github.com/shaah1d</a>   
    </div>
</footer>